<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>角色管理</title>
    <link rel="stylesheet" href="__PUBLIC__/Lib/css/bootstrap.css">
    <script src="__PUBLIC__/Lib/js/jquery-1.10.2.min.js"></script>
    <script src="__PUBLIC__/Lib/js/bootstrap.min.js"></script>
    <style>
        .table th{
            text-align: center;
        }
        .table td{
            text-align: center;
        }
        .table a:hover{
            text-decoration: none;
        }
        .table > thead > tr > th,
        .table > tbody > tr > td,
        .table > tfoot > tr > td{
            vertical-align: middle;
        }
    </style>
</head>
<body>
<div class="modal fade" id="myModaltwo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <p>操作栏</p>
            </div>
            <div class="modal-body">
                <form id="forms" method="post" action="addrole">
                    <div class="form-group">
                        <label>角色名:</label>
                        <input class="form-control" type="text" name="title" autocomplete="off">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="btns">确认</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <h3 class="modal-body text-center contents">删除成功</h3>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>


<div class="panel">
    <div class="panel-heading panel-default">
        <input type="button" class="btn btn-warning" value="添加角色" id="addrole">
    </div>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>序号</th>
            <th>角色名</th>
            <th>权限配置</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
            <volist name="arr" id="vo">
                <tr>
                    <td>{$i}</td>
                    <td>{$vo.title}</td>
                    <td><a href="allotnode.html?id={$vo.id}">权限配置</a></td>
                    <td><a class="btn btn-danger" href="delrole?id={$vo.id}">删除</a></td>
                </tr>
            </volist>
        </tbody>
    </table>
</div>

</body>
</html>
<script>
    $(function () {
        $('#addrole').click(function () {
            $('#myModaltwo').modal('show');
        })
        $('#btns').click(function () {
            $('#forms').submit();
        })
    })
</script>