.all{
    min-width: 1200px;
    position: relative;
}
header{
    width: 100%;
    border-bottom: 3px solid #ae5da1;
    background: black;
}
#seach{
    color: white;
}
a:link,a:hover{
    text-decoration: none;
}
.header-form{
    margin-left: 20%;
}
.header-form{
    margin-top: 23px;
}
.header-form input{
    border-radius: 3px;
    border: solid 1px #ad5da1;
    background: none;
}
.header-img{
    line-height: 90px;
}
.header-img img{
    vertical-align: middle;
}
.kinds{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    top: 120px;
    z-index: 100;
}
.kinds-content{
    margin: 0;
    padding: 0;
}
.kinds-content li{
    list-style: none;
    float: left;
    width: 20%;
    height:50px;
    border: 1px solid #EEEEEE;
    text-align: center;
    line-height: 50px;
}
.kinds-content{
    width: 90%;
    margin: 0 auto;
    background-color: #fdfffe;
    border-radius: 0 0 4px 4px;
    cursor: pointer;
    font-size: 120%;
}
.kinds-content a{
    color: black;
}
.btns{
    background-color: #ae5da1;
    border: none;
    cursor: pointer;
}
.navs-left>a{
    display: block;
    color: whitesmoke;
    flex: 1;
    padding: 5px 0 5px 0;
    text-align: center;
}
.navs-left>a:hover{
    background: linear-gradient(to right,#37238D,#8D3099);
}
.xiala{
    transition:transform 0.5s;
}
.navs-left>a:hover .xiala{
    transform: rotateZ(180deg);
}
.navs-left>a:link,.navs-left>a:hover{
    text-decoration: none;
}
.navs-left{
    float: left;
    width: 40%;
    display: flex;
}
.navs-right{
    float: right;
    display: flex;
    width: 30%;
}
.navs-right a{
    display: block;
    margin: 0 auto;
    color: white;
    padding: 5px;
}
.li{
    transform: rotateZ(180deg);
}
/*!*内容*!-----
----------------------------------------*/
.all-flag{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0.6;
    display: inline-block;
}
#shoping{
    position: absolute;
    width: 110px;
    height: 32px;
    border: solid 1px #fdfffe;
    display: block;
    font-size: 16px;
    color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    line-height: 32px;
    text-align: center;
    text-decoration: none;
}
.shoping:hover{
    color: #ffffff;
    text-decoration: none;
}
.shoping:link{
    color: #ffffff;
}
.shoping:visited{
    color: #FFFFFF;
}
main{
    width: 100%;
    background: #f7f7f7;
}
.main-content{
    width: 66.6%;
    margin: 0 auto  ;
    background: #f7f7f7;
}
.main-top{
    width: 100%;
    height: 400px;
    background-image: url("../images/details/EXO_03.png");
    background-size:cover;
    background-position: center center;
    padding-top: 28%;
    padding-left: 25%;
    box-sizing: border-box;
    position: relative;
}
.main-top:before{
    content:"";
    position: absolute;
    bottom: -70px;
    left: 10%;
    width: 135px;
    height: 135px;
    background-color:#FFFFFF ;
    background-image: url("../images/details/e.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 135px;
    padding: 20px;
    background-origin: content-box;
}
.main-contents{
    min-height: 100px;
    padding-left: 25%;
    padding-top: 20px;
    padding-right: 10%;
    box-sizing: border-box;
}
.main-top p{
    font-size: 72px;
    color:white;
}
.main-title:hover{
    color: white;
}
.main-title{
    display: block;
    width: 100%;
    height: 30px;
    background:linear-gradient(to right,#37238D,#8D3099);
    border-radius: 5px;
    font-size: 20px;
    color: #ffffff;
    line-height: 30px;
    text-indent: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.main-section{
    overflow: hidden;
}
.new-shop{
    margin: 0;
    padding: 0;
}
.new-shop li{
    position: relative;
}
.new-shop li{
    width: 18.75%;
    padding: 20px;
    background: white;
    list-style: none;
    float: left;
    margin-right: 1.5%;
    margin-bottom: 20px;
    box-sizing: border-box;
}
.new-shop li img{
    width: 100%;
}
.new-shop li:nth-of-type(5){
    margin-right: 0;
}
.new-shop li:nth-of-type(10){
    margin-right: 0;
}
.main-demo{
    width: 100%;
    overflow: hidden;
}
.new-shop p:nth-of-type(1){
    font-size: 14px;
    margin-top: 34px;
    margin-bottom: 23px;
    color: #000000;
}
.new-shop p:nth-of-type(2) span:nth-of-type(1){
    font-size: 20px;
    color: #ff4100;
}
.new-shop p:nth-of-type(2) span:nth-of-type(2){
    font-size: 14px;
    opacity: 0.6;float: right;
    padding-top: 5px;
}





footer{
    background: #010101;
    width: 100%;
}
.footer-top{
    padding-top: 34px;
    padding-bottom: 34px;
    border-bottom: 1px solid #ae5da1;
}
.footer-top span{
    font-weight: bold;
    color: #fffefe;
}
.col-xs-2 .text-danger{
    color: #ee0011;
    font-weight: normal;
}
.footer-main{
    margin-top: 36px;
    display: flex;
}
.cols{
    flex: 1;
    text-align: center;
}
.cols:nth-of-type(1){
    flex: 0.75;
    text-align: left;
}
.cols:nth-of-type(6){
    flex: 0.75;
    text-align: right;
}
.footer-main ul li{
    list-style: none;
    margin-top: 10px;
}
.footer-main ul li:nth-of-type(1){
    letter-spacing: 1px;
    color: #fffefe;
    font-weight: bold;
}
.footer-main ul{
    margin: 0;
    padding: 0;
}
.footer-main ul li a{
    letter-spacing: 1px;
    color: #fffefe;
    opacity: 0.5;
}
.footer-main ul li a:hover{
    opacity: 1;
}
footer{
    position: relative;
}
footer p{
    text-align: center;
    letter-spacing: 1px;
    color: #fffefe;
    margin-top: 64px;
    margin-bottom: 18px;
}
.ac{
    position: absolute;
    top: 20%;
    right: 2%;
}
.ac ul li{
    list-style: none;
    text-align: center;
    margin-bottom: 10px;
}
.ac ul li span{
    color: #ffffff;
}