.all{
    min-width: 1200px;
}
header{
    width: 100%;
    border-bottom: 3px solid #ae5da1;
    position: absolute;
    top: 0;
}
#seach{
    color: white;
}
a:link,a:hover{
    text-decoration: none;
}
.header-form{
    margin-left: 20%;
}
.header-form{
    margin-top: 23px;
}
.header-form input{
    border-radius: 3px;
    border: solid 1px #ad5da1;
    background: none;
}
.header-img{
    line-height: 90px;
}
.header-img img{
    vertical-align: middle;
}
.kinds{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}
.kinds-content{
    margin: 0;
    padding: 0;
}
.kinds-content li{
    list-style: none;
    float: left;
    width: 20%;
    height:50px;
    border: 1px solid #EEEEEE;
    text-align: center;
    line-height: 50px;
}
.kinds-content{
    width: 90%;
    margin: 0 auto;
    background-color: #fdfffe;
    border-radius: 0 0 4px 4px;
    cursor: pointer;
    font-size: 120%;
}
.kinds-content a{
    color: black;
}
.btns{
    background-color: #ae5da1;
    border: none;
    cursor: pointer;
}
.navs-left>a{
    display: block;
    color: whitesmoke;
    flex: 1;
    padding: 5px 0 5px 0;
    text-align: center;
}
.navs-left>a:hover{
    background: linear-gradient(to right,#37238D,#8D3099);
}
.xiala{
    transition:transform 0.5s;
}
.navs-left>a:hover .xiala{
    transform: rotateZ(180deg);
}
.navs-left>a:link,.navs-left>a:hover{
    text-decoration: none;
}
.navs-left{
    float: left;
    width: 40%;
    display: flex;
}
.navs-right{
    float: right;
    display: flex;
    width: 30%;
}
.navs-right a{
    display: block;
    margin: 0 auto;
    color: white;
    padding: 5px;
}
.li{
    transform: rotateZ(180deg);
}
/*!*内容*!-----
----------------------------------------*/
.containers{
    width: 100%;
    background: #f7f7f7;
}
.all-flag{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0.6;
    display: inline-block;
}
.shoping{
    position: absolute;
    width: 110px;
    height: 32px;
    border: solid 1px #fdfffe;
    display: block;
    font-size: 16px;
    color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    line-height: 32px;
    text-align: center;
    text-decoration: none;
}
.shoping:hover{
    color: #ffffff;
    text-decoration: none;
}
.shoping:link{
    color: #ffffff;
}
.shoping:visited{
    color: #FFFFFF;
}
.brand,.hot{
    width:66%;
    margin: 0 auto;
    overflow: hidden;
}
.hot ul{
    padding: 0;
    margin:0;
}
.hot-title{
  margin: 72px 0 19px 0;
}
.hot ul li{
    float: left;
    list-style: none;
    width:61.5%;
    position: relative;
}
.hot ul li:nth-of-type(1){
    width: 100%;
}
.hot-title span:nth-of-type(1){
    font-size: 30px;
    color: #000000;
}
.hot-title span:nth-of-type(1) span{
    font-size: 24px;
    color: #fb3737;
    padding-left: 7px;
}
.hot-title span:nth-of-type(2) a{
    font-size: 20px;
    color: #000000;
    float: right;
    padding-top: 12px;
}
.hot ul li:nth-of-type(2){
    width: 36.5%;
    margin-right:10px;
}
.hot ul li:nth-of-type(3){
    margin-bottom: 1.4%;
}
.new-shop{
    width:66%;
    overflow: hidden;
    margin: 0 auto;
}
.new-shop ul{
    margin: 0;
    padding: 0;
}
.new-shop ul li{
    list-style: none;
    width: 19%;
    float: left;
}
.new-shop ul li:not(:last-child){
    margin-right: 1.2%;
}
.new-shop ul li:not(:first-child){
    padding: 20px;
    box-sizing: border-box;
    background-color: #ffffff;
    position: relative;
}
.new-shop ul li img{
    width: 100%;
}
.new-shop ul li:nth-of-type(1){
    width: 100%;
}



.new-product p{
    margin-top: 25px;
    margin-bottom: 21px;
}
.new-product span:nth-of-type(1){
    font-size: 20px;
    color: #ff4100;
}
.new-product span:nth-of-type(2){
    font-size: 14px;
    color: #000000;
    opacity: 0.6;
    float: right;
    padding-top: 5px;
}
.brand-img{
    float: left;
    width: 16.27%;
    list-style: none;
    margin-right: 0.45%;
}
.brand-img:nth-of-type(7){
    margin-right: 0;
}
.brand-img:last-child{
    margin-right: 0;
}
.brand-img img{
    width: 100%;
}
.brand{
   padding-bottom: 63px;
}












/*底部*/
footer{
    background: #010101;
    width: 100%;
}
.footer-top{
    padding-top: 34px;
    padding-bottom: 34px;
    border-bottom: 1px solid #ae5da1;
}
.footer-top span{
    font-weight: bold;
    color: #fffefe;
}
.col-xs-2 .text-danger{
    color: #ee0011;
    font-weight: normal;
}
.footer-main{
    margin-top: 36px;
    display: flex;
}
.cols{
    flex: 1;
    text-align: center;
}
.cols:nth-of-type(1){
    flex: 0.75;
    text-align: left;
}
.cols:nth-of-type(6){
    flex: 0.75;
    text-align: right;
}
.footer-main ul li{
    list-style: none;
    margin-top: 10px;
}
.footer-main ul li:nth-of-type(1){
    letter-spacing: 1px;
    color: #fffefe;
    font-weight: bold;
}
.footer-main ul{
    margin: 0;
    padding: 0;
}
.footer-main ul li a{
    letter-spacing: 1px;
    color: #fffefe;
    opacity: 0.5;
}
.footer-main ul li a:hover{
    opacity: 1;
}
footer{
    position: relative;
}
footer p{
    text-align: center;
    letter-spacing: 1px;
    color: #fffefe;
    margin-top: 64px;
    margin-bottom: 18px;
}
.ac{
    position: absolute;
    top: 20%;
    right: 2%;
}
.ac ul li{
    list-style: none;
    text-align: center;
    margin-bottom: 10px;
}
.ac ul li span {
    color: #ffffff;
}